/* @define-color bg0 #212121; */
/*@define-color bg1 #353535;*/
/*@define-color bg1 rgba(33,33,33,0.8);*/
/*@define-color bg1 #212121;*/
@define-color bg1 #191D24;
@define-color fg0 #eeffff;
@define-color yellow #ffcb6b;

* {
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 14px;
  font-weight: 500;
  min-height: 0;
  border-color: @bg1;
}

window#waybar {
  /* background-color: @bg0; */
  background-color: transparent;
  color: @fg0; /* didn't affect workspaces */
}

#workspaces {
  background-color: @bg1;
  border-radius: 18px;
  padding: 0px 4px;

  margin: 8px 4px 0px 8px;
}

#workspaces button {
  color: @fg0;
  border-radius: 18px;
}

#workspaces button.active {
  color: @yellow;
}

#window {
  background-color: @bg1;
  border-radius: 18px;
  padding: 0px 16px;
  margin: 8px 4px 0px 4px;
}

window#waybar.empty #window {
  /* hide empty module */
  background-color: transparent;
}

#custom-swaync {
  background-color: @bg1;
  border-radius: 18px;
  padding: 0px 16px;
  margin: 8px 4px 0px 4px;
}

#update {
  background-color: @bg1;
  border-radius: 18px;
  padding: 0px 16px;
  margin: 8px 4px 0px 4px;
}

#hw {
  background-color: @bg1;
  border-radius: 18px;
  padding: 0px 16px;
  margin: 8px 4px 0px 4px;
}

#cpu {
  margin-right: 8px;
}

#memory {
  margin-left: 8px;
}

#control {
  background-color: @bg1;
  border-radius: 18px;
  padding: 0px 16px;
  margin: 8px 4px 0px 4px;
}

#custom-hyprsunset {
  margin-right: 8px;
}

#custom-hyprsunset.day {
  color: #facc15; /* Gelb */
}

#custom-hyprsunset.night {
  color: #60a5fa; /* Blau */
}

#custom-brightness {
  color: #ffffff;
  margin-right: 8px;
}

#battery {
  margin-right: 8px;
}

#network {
  margin: 0px 8px;
  margin-left: 8px;
}

#bluetooth {
  margin: 0px 8px;
}

#pulseaudio {
  margin: 0px 8px;
}

#backlight{
  margin: 0px 8px;
  margin-right: 16px;
}

#clock {
  background-color: @bg1;
  border-radius: 18px;
  padding: 0px 16px;
  margin: 8px 8px 0px 4px;
}

#custom-powermenu {
  font-size: 15px;
  color: #ff5555;
  background-color: @bg1;
  border-radius: 18px;
  padding: 0px 16px;
  margin: 8px 4px 0px 4px;
  font-weight: bold;
}

